@import "tailwindcss";

:root {
  --background: #F5F5F5; /* হালকা গ্রে ব্যাকগ্রাউন্ড */
  --foreground: #171717;
  --primary: #800000;    /* কাস্টম মেরুন কালার */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

/* ইমেজের ফন্টের জন্য ডিফল্ট সেটিং */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* কাস্টম স্ক্রলবার হাইড করার জন্য (অপশনাল) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}